{{ if not .Site.IsServer }}    
    <div>
        <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7D553I&placement=labsiamhamyxyz" id="_carbonads_js"></script>
    </div>
{{ end }}