<div class="divide-solid border-b-2 border-black mt-5 mb-5">&nbsp;</div>
<div class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto">
    <h1>About the Ham</h1>
    <p>
        Hi I'm <a href="https://hamy.xyz/about/">Hamilton</a> - I built this! If you want more content like this <a href="https://hamy.xyz/subscribe">subscribe</a> to my email list, <a href="https://hamy.xyz/connect">connect</a> with me around the web, or take a look at some of my other <a href="https://labs.hamy.xyz/projects">projects</a>.
    </p>
    <h1>More Projects</h1>
</div>

{{ $featuredSection := .Site.Params.featuredSection }}
{{ $featuredSectionContents := shuffle (where .Site.RegularPages "Type" $featuredSection) }}
<div class="mt-2">
    <div class='max-w-4xl md:max-w-3xl sm:max-w-xl mx-auto'>
        <div class='flex flex-wrap -mx-2'>
            {{ range first 3 $featuredSectionContents }}
                {{ $link := cond (isset .Params "redirect") .Params.redirect .Permalink }}
                {{ .Scratch.Set "coverImage" "/default-cover.png" }}
                {{ if .Params.coverImage }}
                    {{ .Scratch.Set "coverImage" .Params.coverImage }}
                {{ end }}
                {{ $coverImage := .Scratch.Get "coverImage" }}
                <a class="w-full xl:w-1/3 lg:w-1/3 md:w-1/2 h-64 px-2 py-2"
                    href="{{ $link }}">
                    <div class='h-full border border-black bg-center'
                        style="background-image: url('{{ $coverImage }}'); background-size: cover;">
                        <div class='card-list__hover-text h-full flex justify-center'>
                            <div class='card-list__header-aligner'>
                                <h3 class="bg-white px-4 py-2 border border-black">
                                    {{ .Title }}
                                </h3>
                            </div>
                        </div>
                    </div>
                </a>
            {{ end }}
        </div>
    </div>

</div>