h1, h2, h3 {
    font-family: 'Roboto Mono', monospace;
}

a h3 {
    color: #be403b !important;
 }

a.item {
    color: #be403b !important;
}

body, p, .text, a {
    font-family: 'Ubuntu Mono', monospace !important;
}

pre {
    background: black;
}

code {
    background: lightgrey;
    padding-left: 0.1em;
    padding-right: 0.1em;
}
