body {
    background-color: black;

    /* Remove the default margin Chrome puts around <body/> */
    margin: 0;

    /* Remove scrollbars - depending on image size, rotations could cause
    bits to go off page but we don't want a scrollbar */
    overflow: hidden;
}

/* Audio control styling */
#audio {
    float: left;

    /* places it above the canvas */
    z-index: 5;
    position: absolute;
}

/* Option selection styling */

.play-option-selection-panel {
    color: white;
}

.play-option-prompt {
}

.file-input-label {
    background-color: rgb(191,62,56);
    padding: 10px;

    /* from tutorial: https://coderwall.com/p/uer3ow/total-input-type-file-style-control-with-pure-css */
    overflow: hidden;
    position: absolute;
}

.file-input-label [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

#microphone-input-button {
    background-color: rgb(191,62,56);
    padding: 10px;
}

/* Canvas styling */

.draw-canvas {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.eye-ball {
    position: absolute;
    width: 80vh;

    /* Align to middle */
    top: 50%;
    left: 50%;
    /* Note: this works because these percentages are based on container size. */
    transform: translate(-50%, -50%);
    /* transform: rotate(360deg); */

    animation:spin 256s linear infinite;
}

.eye-ball-iris {
    position: absolute;
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    z-index: 500;
    background-color: blue;
    /* This keeps the video inside the div */
    overflow: hidden;

    /* Align to middle */
    top: 50%;
    left: 50%;
    /* Note: this works because these percentages are based on container size. */
    transform: translate(-50%, -50%);
    /* transform: rotate(360deg); */
}

#video {
    width: 80vh;
}

#eye-ball-pupil-container {
    position: absolute;
    z-index: 1000;
    width: 40vh;
    height: 40vh;
    
    /* Align to middle */
    top: 50%;
    left: 50%;
    /* Note: this works because these percentages are based on container size. */
    transform: translate(-50%, -50%);
}

#eye-ball-pupil {
    /* position: relative; */
    /* width: 100%; */
    fill: black;
}

.translate-class {
    transform: translate(-50%, -50%);
}

@keyframes spin { 
    0% {
        transform: 
            translateX(-50%)
            translateY(-50%)
            rotate(0deg);
    }

    100% { 
        transform: 
            translateX(-50%)
            translateY(-50%)
            rotate(360deg); 
    } 
}

.insta-square-container {
    position: absolute;
    height: 100vh;
    width: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-branding-vertical {
    position: absolute;
    width: 10%;
    right: 2.5%;
    bottom: 5%;
}

.logo-branding-horizontal {
    width: 20vh;
    right: 10vh;
    bottom: 10vh;
}

/* Helpers */

.hidden {
    display: none;
}

/* general stylings */

.hamy-button {
    color: white;
    background-color: #bf3e38;
    padding: 10px;
}
