{{ define "header" }}
{{ end }}
{{ define "main" }}
    {{ with .Params.redirect }}
        <link rel="canonical" href="{{ . }}" />
        <meta http-equiv="Refresh" content="0; url={{ . }}" />
    {{ end }}
    <div >
        <div>
            <div class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto p-6">
                <div>
                    <h2 class="no-prose-header">
                        {{ .Title }}
                    </h2> 
                    <p class="text-black">
                        {{ $wordCount := (.Content | countwords)}}
                        {{ .Date.Format "2006.01.02" }} | {{ $wordCount }} words
                        {{ if .Params.tags }}
                            |
                            <span>
                                {{ range .Params.tags }}
                                    <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{. | urlize}}/"
                                        class='no-prose-no-underline'>
                                        <button 
                                            class="inline-block text-xs px-2 py-1 leading-none border text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0">
                                            {{ . }}
                                        </button>
                                    </a>
                                {{ end }}
                                </span>
                        {{ end }}
                    </p>   
                </div>
                {{ with partial "custom-single-content-header.html" . }}
                    {{ . }}
                {{ end }}
                {{ .Content }}
            </div>
        </div>
        {{ with partial "custom-single-footer.html" . }}
            <div class="ui segment vertical">
                {{ . }}
            </div>
        {{ end }}
        <div class="ui segment vertical">
            <div class="ui section divider"></div>
            {{ template "_internal/disqus.html" . }}
        </div>
    </div>
{{ end }}
{{ define "footer" }}
{{ end }}
