{{ define "main" }}
    {{ $paginator := .Paginate .Pages 5}}
    <div class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto p-6">
        <h1 class="no-prose-list-header capitalize">
            {{ .Section }}: {{ .Title }}
        </h1>
        {{ range $paginator.Pages }}
            <div class="mb-5 border-l-2 border-black pl-2">
                <a href="{{ .Permalink }}" class='no-prose-no-underline' >
                    <h2 class="no-prose-post-list-title hover:text-hamred">
                        {{ .Title }}
                    </h2> 
                </a>
                <div class="no-prose-post-list-description text-black mt-0">
                    {{ $wordCount := (.Content | countwords)}}
                    {{ .Date.Format "2006.01.02" }} | {{ $wordCount }} words
                    {{ if .Params.tags }}
                        |
                        <span>
                            {{ range .Params.tags }}
                                <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{. | urlize}}/"
                                    class='no-prose-no-underline text-xs px-2 py-1 leading-none border text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0'>
                                    {{ . }}
                                </a>
                            {{ end }}
                            </span>
                    {{ end }}
                </div>   
            </div>
        {{ end }}
        {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
            <div class="mdc-grid-layout">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-tablet">
                        <div style="display: flex; justify-content: center;">
                            {{ if $paginator.HasPrev }}
                                {{ with $paginator.Prev }}
                                    <a href="{{ .URL }}" class='mdc-button'>
                                        <button class='inline-block text-sm px-4 py-2 leading-none border text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0'>
                                            Previous
                                        </button>
                                    </a>
                                {{ end }}
                            {{ end }}
                            {{ if $paginator.HasNext }}
                                {{ with $paginator.Next }}
                                    <a href="{{ .URL }}" class='mdc-button'>
                                        <button class="inline-block text-sm px-4 py-2 leading-none border text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0">
                                            Next
                                        </button>
                                    </a>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}
