{{ define "main" }}
  <main id="main">
    <div class="ui list text container">
        <h1>{{ .Title }}</h1>
        {{ $type := .Type }}
        {{ range $key, $value := .Data.Terms.ByCount }}
          {{ $name := .Name }}
          {{ $count := .Count }}
          {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
          <div class="item">
            <h2>
              <a href="{{ .Permalink }}">
                {{ printf "(%d) %s" $count $name }}
              </a>
            </h2>
          </div>
          {{ end }}
        {{ end }}
    </div>
  </main>
{{ end }}
