{{ $displaySection := .Scratch.Get "displaySection" }}
{{ if ($displaySection) }}
    <!-- no-op -->
{{ else }}
    {{ $displaySection = .Section }}
{{ end }}

{{ if .Site.Params.sectionconfigs }}
    {{ $sectionConfigs := .Site.Params.sectionconfigs}}
    {{ if ($displaySection) "in" $sectionConfigs }}
        {{ $sectionConfig := index $sectionConfigs ($displaySection) }}
        {{ $listType := $sectionConfig.listtype }}
        {{ .Scratch.Set "listType" $listType }}
    {{ end }}
{{ end }}
{{ $listType := .Scratch.Get "listType"}}
{{ $countPerPage := cond (eq $listType "card") 6 5 }}
<div>
    {{ if ($displaySection) }}
        {{ $paginatorInternal := .Paginate (where .Site.RegularPages "Type" $displaySection) $countPerPage}}
        {{ .Scratch.Set "paginator" $paginatorInternal }}
    {{ else }}
        {{ $displaySection = .Section }}
        {{ $paginatorInternal := .Paginator $countPerPage }}
        {{ .Scratch.Set "paginator" $paginatorInternal }}
    {{ end }}
    {{ $paginator := .Scratch.Get "paginator" }}
    {{ if eq $listType "card" }}
        <div>
            <div class="flex justify-center">
                <h1 class="text-6xl semi-bold capitalize">
                    {{ if ($displaySection) }}
                        {{ $displaySection }}
                    {{ else }}
                        {{ .Section }}
                    {{ end }}
                </h1>
            </div>
            <div class='max-w-4xl md:max-w-3xl sm:max-w-xl mx-auto'>
                <div class='flex flex-wrap -mx-2'>
                    {{ range $paginator.Pages }}
                        {{ $link := cond (isset .Params "redirect") .Params.redirect .Permalink }}
                        {{ .Scratch.Set "coverImage" "/default-cover.png" }}
                        {{ if .Params.coverImage }}
                            {{ .Scratch.Set "coverImage" .Params.coverImage }}
                        {{ end }}
                        {{ $coverImage := .Scratch.Get "coverImage" }}
                        <a class="w-full xl:w-1/3 lg:w-1/3 md:w-1/2 h-64 px-2 py-2"
                            href="{{ $link }}">
                            <div class='h-full border border-black bg-center'
                                style="background-image: url('{{ $coverImage }}'); background-size: cover;">
                                <div class='card-list__hover-text h-full flex justify-center'>
                                    <div class='card-list__header-aligner'
                                        style='margin: auto;'>
                                        <h3 class="bg-white px-4 py-2 border border-black">
                                            {{ .Title }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {{ end }}
                </div>
            </div>
        </div>
    {{ else }}
        <div class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto p-6">
            <h1 class="no-prose-list-header capitalize">
                {{ if ($displaySection) }}
                    {{ $displaySection }}
                {{ else }}
                    {{ .Section }}
                {{ end }}
            </h1>
            {{ range $paginator.Pages }}
                <div class="mb-5 border-l-2 border-black pl-2">
                    <a href="{{ .Permalink }}" class='no-prose-no-underline' >
                        <h2 class="no-prose-post-list-title hover:text-hamred">
                            {{ .Title }}
                        </h2> 
                    </a>
                    <div class="no-prose-post-list-description text-black mt-0">
                        {{ $wordCount := (.Content | countwords)}}
                        {{ .Date.Format "2006.01.02" }} | {{ $wordCount }} words
                        {{ if .Params.tags }}
                            |
                            <span>
                                {{ range .Params.tags }}
                                    <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{. | urlize}}/"
                                        class='no-prose-no-underline text-xs px-2 py-1 leading-none border text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0'>
                                        {{ . }}
                                    </a>
                                {{ end }}
                                </span>
                        {{ end }}
                    </div>   
                </div>
            {{ end }}
        </div>
    {{ end }}
    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
        <div class="mdc-grid-layout">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-tablet">
                    <div style="display: flex; justify-content: center;">
                        {{ if $paginator.HasPrev }}
                            {{ with $paginator.Prev }}
                                <a href="{{ .URL }}" class='mdc-button'>
                                    <button class='inline-block text-sm px-4 py-2 leading-none border text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0'>
                                        Previous
                                    </button>
                                </a>
                            {{ end }}
                        {{ end }}
                        {{ if $paginator.HasNext }}
                            {{ with $paginator.Next }}
                                <a href="{{ .URL }}" class='mdc-button'>
                                    <button class="inline-block text-sm px-4 py-2 leading-none border text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0">
                                        Next
                                    </button>
                                </a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
</div>
