#mapid { height: 100vh; }

body {
    background-color: black;
}

.logo-watermark {
    position: absolute;
    width: 20vh;
    bottom: 5vh;
    right: 10vh;
    z-index: 9999;
}

/* general styles */

.hamy-button {
    color: white;
    background-color: #bf3e38;
    padding: 10px;
}

.content-section {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.hidden {
    display: none;
}

/* input styles */

#input-container {
    background-color: black;
    color: white;
}

#input-container a {
    color: #bf3e38;
}

#restart-button {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 9999;
}